body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    
}
h1{
    font-size: 50px;
}
.tr{
    color: darkorange;
}
.about{
   
    font-size: larger;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: justify;
    padding-right: 10px;
}
.about a{
    text-decoration: none;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(orangered,orange);
    font-size: medium;
    font-weight: 500;
   
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 20px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    


}
.half-width img{
    width: 80%; 
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange{
    color: orange;
}
.develop{
    box-shadow: 10px 10px 20px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
#exp{
    border-left:7px solid ;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#exr{
    border-left: 7px solid;
    border-image:linear-gradient(orangered,orange) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}