body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.tr{
    color: darkorange;
}
.about{
   
    font-size: larger;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: justify;
}
.about a{
    text-decoration: none;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(orangered,orange);
    font-size: medium;
    font-weight: 500;
    width: 80px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width image{
    width: 100%; 
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}